<div style="color:aliceblue">
<h2 class="chrome">DizTechnologies</h2>
<p>
  Our Company provides full fledge services and solution for Digital Technology to 
  all marketing and brand promotion needs.<br />
  This services includes SEO, PR Marketing, Lead Generation, Social Media Marketing etc. <br/>
  Our expertise is not only limited to Digital Marketing, we also have a well experienced team <br/>
  who can provide end to end solution for Software development, Mobile App and Enterprise Application.
</p>
</div>