.router{
    padding-top: 100px;
}

.navbar1{
    color: aliceblue;
}
.dropdown-menu{
    background-color: transparent;
}
.dropdown-menu a:hover {
    background-color: rgb(183, 182, 245);
    color: black;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: white;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.img-Dropdown{
    height: 30px;
}
.dizMarketing1{
    height: 70px;    
}
.show-div{
    display: none;  
    padding-top: 0px;
    padding-left: 40px;
}
.show-div a{
    padding-top: 0px;
}

/**
 * Position icons into circle (SO)
 * http://stackoverflow.com/q/12813573/1397351 
 */
 .circle-container {
	position: relative;
	width: 30em;
	height: 30em;
	padding: 3.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
	border: dashed 1px;
	border-radius: 50%;
	/*margin: 1.75em auto 0;*/
}
.circle-container a {	
	overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	
	margin: -2em; /* 2em = 4em/2 */ /* half the width */
}
/*.circle-container img { display: block; width: 100%; }*/
.deg0 { transform: translate(15em); 
        display: none;
        width: 100%;    
} /* 12em = half the width of the wrapper */
.deg45 { 
    transform: rotate(45deg) translate(15em) rotate(-45deg); 
    display: none;
    width: 100%;   
}
.deg135 { transform: rotate(135deg) translate(15em) rotate(-135deg); }
.deg180 { transform: translate(-15em); }
.deg225 { transform: rotate(225deg) translate(15em) rotate(-225deg); }
.deg315 { 
    transform: rotate(315deg) translate(15em) rotate(-315deg);  
    display: none;
    width: 100%;   
}
