
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton);

.router{
    padding-top: 50px;
}

.navbar1{
    color: aliceblue;
}
.dropdown-menu{
    background-color: transparent;
}
.dropdown-menu a:hover {
    background-color: rgb(183, 182, 245);
    color: black;
}

.topright {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 78%;
    font-size: 15px;
    color: black;
    padding-right: 20px;
    padding-top: 3px;
    width: 20%;
    height: 5%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: right; 
    font-family: "Arial Black", Gadget, sans-serif;    
    background: #ffc578; /* Old browsers */
    background: -moz-linear-gradient(top, #ffc578 0%, #fb9d23 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffc578 0%,#fb9d23 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffc578 0%,#fb9d23 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
    
}
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc578+0,fb9d23+100;Orange+3D+%233 */
/*
 Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+31,d7dee3+54,f5f7f9+100 */

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: white;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.img-Dropdown{
    height: 30px;
    width: 40px;
}
.dizMarketing1{
    height: 70px;    
}
.show-div{
    display: none;  
    padding-top: 0px;
    padding-left: 40px;
}
.show-div a{
    padding-top: 0px;
}

.chrome {
  position: relative;
  background-image: -webkit-linear-gradient(rgb(100, 124, 11) 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px #f5f5f5;
  font-size: 40px;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  margin: 0;
  line-height: 1;
}

li {
    border-right: 2px solid #bbb;
}

li:last-child {
    border-right: none;
}