
<div class="div-alignment">
    <div style="display: flex">
            <div style="width: 15%;"> 
                    <img class="img-height" src="../../assets/imgs/lead_generation.png" >
            </div>
            <div style="float: right;margin-left: 1%;">
                    <h4 style="margin-top: 20%;margin-left: 0px">Lead Generation</h4>
            </div>
    </div>
    <p>
      The buying process been undergoing substantial changes 
      in recent years from the rise of new online and social techniques.
    </p>    
</div>