
<div class="div-alignment">
    <div style="display: flex">
            <div style="width: 15%;"> 
                    <img class="img-height" src="../../assets/imgs/conversion_rate.png" >
            </div>
            <div style="float: right;margin-left: 1%;">
                    <h4 style="margin-top: 20%;margin-left: 0px">Conversion Rate</h4>
            </div>
    </div>
    <p>
     With proper SEO in place, traffic is diverted to client's site but without
     proper conversion rate strategy customers may not complete there purpose of visit.
     We provide solution to our client's to achive high Conversion Rate by providing 
     Customer journey analysis, Cart abandonment analysis, Segementation, Online surveys/user feedback etc.
    </p>    
</div>

