
<div class="div-alignment">
    <div style="display: flex">
            <div style="width: 13%;"> 
                    <img class="img-height" src="../../assets/imgs/web_design.png" >
            </div>
            <div style="float: right;margin-left: 1%;">
                    <h4 style="margin-top: 20%;margin-left: 0px">Creative Design</h4>
            </div>
    </div> 
    <p>
      If you have Business, we have an idea to promote.
      Promotion might be interms of disigning responsive website, SEO, lead generation etc.
    </p>      
</div>
