.router{
    padding-top: 100px;
}

.bg-image{
    background-repeat: no-repeat;
    height: 500px;
}
.align-right{
    text-align : right;
}

.error-msg {
    display: block;
    position: absolute;
    font-size: 75%;
    bottom: -2em;
  }

  .control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top:0px;
  }
  